{% extends "base.html" %}
{% load widget_tweaks %}
{% load i18n %}
{% load account %}

{% block content %}


<div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12  col-lg-5 mx-auto">
        <div class="card border-0 shadow rounded-3 my-5">
          <div class="card-body p-4 p-sm-5">
            <h5 class="card-title text-center mb-5 fw-light fs-5">
              {% trans "Confirm E-mail Address" %}            </h5>

            {% if confirmation %}

            {% user_display confirmation.email_address.user as user_display %}
              <p>

                {% blocktrans with confirmation.email_address.email as email %}Please confirm that <a href="mailto:{{ email }}">{{ email }}</a> is an e-mail address for user {{ user_display }}.{% endblocktrans %}
              </p>

              <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
              {% csrf_token %}
              	<div class="d-grid mt-4 text-center">
	                <button class="btn btn-primary btn-login text-uppercase fw-bold" type="submit">{% trans 'Confirm' %}</button>
	              </div>
              </form>
            {% else %}

              {% url 'account_email' as email_url %}
              
              <p>{% blocktrans %}This e-mail confirmation link expired or is invalid. Please <a href="{{ email_url }}">issue a new e-mail confirmation request</a>.{% endblocktrans %}</p>

            {% endif %}

            
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}