{% extends "base.html" %}

{% load widget_tweaks %}
{% load socialaccount %}
{% load i18n %}
{% load account %}
{% providers_media_js %}
{% block title %}Login{% endblock title %}
{% block content %}

<main >
  <!-- Account-Login -->
  <section class="forget-password">
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <div class="account-sign-in">
                      <h5 class="text-center">Sign in</h5>
                      {% include 'includes/alerts.html' %}
                      {% include 'error.html' %}
                      <form method="POST" action="{% url 'account_login' %}">
                        {% csrf_token %}
                          <div class="form__div">
                            {% render_field form.login type="email" class="form__input" id="floatingInput" placeholder=" " %}
                              <label for="" class="form__label">Email</label>
                          </div>
                          <div class="form__div mb-0">
                            {% render_field form.password type="password" class="form__input" id="floatingPassword" placeholder=" " %}
                              <label for="" class="form__label">Password</label>
                          </div>
                          <div class="password-info d-flex align-items-center justify-content-between flex-wrap">
                              <div class="password-info-left">
                                <input type="checkbox" onclick="myFunction()" id="showpass">
                                  <label for="showpass" class="mb-0">Show Password</label>
                              </div>
                              <div class="password-info-right">
                                  <a href="{% url 'account_reset_password' %}">Forget Password</a>
                              </div>
                          </div>
                          <input type="submit" class="btn bg-primary" value="Sign in">
                      </form>
                      <div class="social-signing">
                          <p class="text-center">or sign in with</p>
                          <div class="social-signing-link">
                              <a href="{% provider_login_url 'google' %}" class="ml-0">
                                  <svg id="search" xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                      viewBox="0 0 20 20">
                                      <path id="Path_8" data-name="Path 8"
                                          d="M4.432,144.953l-.7,2.6-2.544.054a10.017,10.017,0,0,1-.074-9.338h0l2.265.415.992,2.252a5.968,5.968,0,0,0,.056,4.018Z"
                                          transform="translate(0 -132.867)" fill="#fbbb00" />
                                      <path id="Path_9" data-name="Path 9"
                                          d="M271.233,208.176a10,10,0,0,1-3.565,9.666h0l-2.853-.146-.4-2.521a5.96,5.96,0,0,0,2.564-3.043h-5.347v-3.956h9.605Z"
                                          transform="translate(-251.408 -200.044)" fill="#518ef8" />
                                      <path id="Path_10" data-name="Path 10"
                                          d="M45.577,315.121h0a10,10,0,0,1-15.069-3.059l3.241-2.653a5.947,5.947,0,0,0,8.57,3.045Z"
                                          transform="translate(-29.317 -297.323)" fill="#28b446" />
                                      <path id="Path_11" data-name="Path 11"
                                          d="M43.889,2.3l-3.24,2.652a5.947,5.947,0,0,0-8.767,3.114L28.625,5.4h0A10,10,0,0,1,43.889,2.3Z"
                                          transform="translate(-27.506)" fill="#f14336" />
                                  </svg>
                                  Google
                              </a>
                              
                          </div>
                      </div>
                      <div class="ask-signup text-center">
                          <a href="#" class="mr-1" style="color:#989BA7;">Don't have account?</a>
                          <a href="{{ signup_url }}">Sign up</a>
                      </div>
                  </div>
              </div>
          
          </div>
      </div>
  </section>
</main>

{% endblock content %}

{% block scripts %}
<script>
  function myFunction() {
    var x = document.getElementById("floatingPassword");
    if (x.type === "password") {
      x.type = "text";
    } else {
      x.type = "password";
    }
  }
</script>


<script>
  function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
const csrftoken=getCookie("csrftoken")
const sesid = '{{request.session.session_key}}';
const btn = document.getElementById("btn")
const googlebtn = document.getElementById("googlebtn")
const url = "http://127.0.0.1:8000/accounts/add/"
btn.addEventListener("click",(e)=>{
  
    sendData();
    function sendData(){
        fetch(url,{
            method : "POST",
            headers :{
                "Content-type":"application/json",
                "X-CSRFToken":csrftoken,
            },
            body : JSON.stringify({
                sessionid : sesid,
            }),
            
    })
    .then((response) => console.log(response.json()))
}
})
googlebtn.addEventListener("click",(e)=>{
  
    sendData();
    function sendData(){
        fetch(url,{
            method : "POST",
            headers :{
                "Content-type":"application/json",
                "X-CSRFToken":csrftoken,
            },
            body : JSON.stringify({
                sessionid : sesid,
            }),
            
    })
    .then((response) => console.log(response.json()))
}
})
</script>
{% endblock scripts %}

{% comment %} <!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y" style="min-height:84vh">

  <!-- ============================ COMPONENT LOGIN   ================================= -->
      <div class="card mx-auto" style="max-width: 380px; margin-top:100px;">
        <div class="card-body">
        <h4 class="card-title mb-4 text-center">Sign in</h4>
        {% include 'includes/alerts.html' %}
        {% include 'error.html' %}
        <form method="POST" action="{% url 'account_login' %}">
          {% csrf_token %}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
           {% endif %}
              <a id="googlebtn" href="{% provider_login_url 'google' %}" class="btn btn-google btn-block mb-4"> <i class="fab fa-google"></i> &nbsp  Sign in with Google</a>
            <div class="form-group">

              <label for="floatingInput">Email address</label>
              {% render_field form.login type="email" class="form-control" id="floatingInput" placeholder="name@example.com" %}
            </div> <!-- form-group// -->
            <div class="form-group">

              <label for="floatingPassword">Password</label>
              {% render_field form.password type="password" class="form-control" id="floatingPassword" placeholder="Enter Your Password" %}
            </div> <!-- form-group// -->
            
            <div class="form-group">
              <label class="float-left custom-control custom-checkbox"> <input type="checkbox" onclick="myFunction()" class="custom-control-input"> <div class="custom-control-label"> Show Password </div> </label>
                <a href="{% url 'account_reset_password' %}" class="float-right">Forgot password?</a>
            </div> <!-- form-group form-check .// -->
            <div class="form-group">
              
                <button type="submit" class="btn btn-primary btn-block" id="btn"> Login  </button>
            </div> <!-- form-group// -->    
        </form>
        </div> <!-- card-body.// -->
      </div> <!-- card .// -->
  
       <p class="text-center mt-4">Don't have account? <a href="{{ signup_url }}">Sign up</a></p>
       <br><br>
  <!-- ============================ COMPONENT LOGIN  END.// ================================= -->
  
  
  </section>
  <!-- ========================= SECTION CONTENT END// ========================= -->
   {% endcomment %}