{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load widget_tweaks %}
{% load account %}
{% block head_title %}{% trans "You are" %}{% endblock %}

{% block content %}
<main>
  {% include "includes/breadcrumb.html" %}

	<!--Acount Area Start -->
	<section class="account">
		<div class="container">
			<div class="row">
				{% include "includes/navbarv2.html" %}
				{% include "includes/dashboard_sidebar.html" %}
				
				
				 <div class="col-lg-6 col-md-12">
          {% include 'includes/alerts.html' %}
          {% include 'error.html' %}
					<div class="change-password">
						<h6 class="text-center">Set password</h6>
						<form method="POST" action="{% url 'account_set_password' %}" class="password_set">
              {% csrf_token %}
							<div class="form__div">
								<input id="id_password1" type="password" name="password1" class="form__input" placeholder=" ">
								<label for="" class="form__label">Password</label>
							</div>
							<div class="form__div mb-40">
								<input id="id_password2" type="password" name="password2" class="form__input" placeholder=" ">
								<label for="" class="form__label">Confirm Password</label>
                
							</div>
							<label class="float-left custom-control custom-checkbox"> <input type="checkbox" onclick="myFunction()" class="custom-control-input"> <div class="custom-control-label"> Show Password </div> </label><br>
							<button type="submit" class="btn bg-primary">Save Changes</button>
              
						</form>
					</div>
				</div> 
			</div>
		</div>
	</section>
	<!--Acount Area End -->

</main>
{% endblock %}

{% block scripts %}
<script>
  function myFunction() {
    var x = document.getElementById("id_password1");
    var y = document.getElementById("id_password2");
    if (x.type === "password" && y.type === "password") {
      x.type = "text";
      y.type = "text";

    } else {
      x.type = "password";
      y.type = "password";

    }
  }
</script>
{% endblock scripts %}