{% extends "base.html" %}
{% load widget_tweaks %}
{% load i18n %}
{% load account %}

{% block content %}


<div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card border-0 shadow rounded-3 my-5">
          <div class="card-body p-4 p-sm-5">
            <h5 class="card-title text-center mb-5 fw-light fs-5">
            {% trans "Change Password" %}</h5>
            <div class="form-group text-center">
              <h2>{% if token_fail %}{% trans "Bad Token" %}{% endif %}</h1>
            </div>
            {% if token_fail %}
              {% url 'account_reset_password' as passwd_reset_url %}
              <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
          {% else %}
              {% if form %}
                  {% include 'error.html' %}
                  <form method="POST" action="{{ action_url }}">
                      {% csrf_token %}


          

              <div class="form-floating mb-3">
                {% render_field form.password1 type="password" class="form-control" id="floatingPassword" placeholder="Enter Your New Password" %}
                
                <label for="floatingPassword">New Password</label>
              </div>

              <div class="form-floating mb-3">
                {% render_field form.password2 type="password" class="form-control" id="floatingPassword" placeholder="New Password (again)" %}
                
                <label for="floatingPassword">New Password (again)</label>
              </div>

              <div class="d-grid">
                <button class="btn btn-primary btn-login text-uppercase fw-bold" type="submit">Change
                  Password</button>
              </div>
              <hr class="my-4">
                  </form>
              {% else %}
                  <p>{% trans 'Your password is now changed.' %}</p>
              {% endif %}
          {% endif %}
            
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}