{% extends "base.html" %}
{% load widget_tweaks %}
{% load i18n %}
{% load account %}
{% block title %}
change password
{% endblock title %}
{% block content %}
<main>
  {% include "includes/breadcrumb.html" %}

	<!--Acount Area Start -->
	<section class="account">
		<div class="container">
			<div class="row">
				{% include "includes/navbarv2.html" %}
				{% include "includes/dashboard_sidebar.html" %}
				
				
				 <div class="col-lg-6 col-md-12">
          {% include 'includes/alerts.html' %}
          {% include 'error.html' %}
					<div class="change-password">
						<h6>Change password</h6>
						<form method="post" action="{% url 'account_change_password' %}">
              {% csrf_token %}
							<div class="form__div">
								<input id="myInput" type="password" name="oldpassword" class="form__input" placeholder=" ">
								<label for="" class="form__label">Old Password</label>
							</div>
							<div class="form__div mb-40">
								<input id="myInput1" type="password" name="password1" class="form__input" placeholder=" ">
								<label for="" class="form__label">Password</label>
                
							</div>
							<div class="form__div mb-40">
								<input id="myInput2" type="password" name="password2" class="form__input" placeholder=" ">
								<label for="" class="form__label">Password Confirm</label>
                
							</div>
							<label class="float-left custom-control custom-checkbox"> <input type="checkbox" onclick="myFunction()" class="custom-control-input"> <div class="custom-control-label"> Show Password </div> </label><br>
							<button type="submit" class="btn bg-primary">Save Changes</button>
              
						</form>
					</div>
				</div> 
			</div>
		</div>
	</section>
	<!--Acount Area End -->

</main>
{% endblock content %}
{% block scripts %}
<script>
  function myFunction() {
    var x = document.getElementById("myInput");
    var y = document.getElementById("myInput1");
    var z = document.getElementById("myInput2");
    if (x.type === "password" && y.type === "password"&& z.type === "password") {
      x.type = "text";
      y.type = "text";
      z.type = "text";
    } else {
      x.type = "password";
      y.type = "password";
      z.type = "password";
    }
  }
</script>
{% endblock scripts %}