{% extends "base.html" %}
{% load widget_tweaks %}
{% load i18n %}
{% load account %}
{% load socialaccount %}
{% block title %}Register{% endblock title %}
{% block content %}

  <section class="section-content padding-y">

    <!-- ============================ COMPONENT REGISTER   ================================= -->
        <div class="card mx-auto" style="max-width:570px; margin-top:40px;">
          <article class="card-body">
            {% include 'error.html' %}
            <header class="mb-4 text-center"><h4 class="card-title">Sign up</h4></header>
            <form method="post" action="{% url 'account_signup' %}">
              {% csrf_token %}
              {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
              {% endif %}
              <a href="{% provider_login_url 'google' %}" class="btn btn-danger  btn-block mb-4"> <i class="fab fa-google"></i> &nbsp  Sign Up with Google</a>

              <div class="form-row">
                <div class="col form-group">
                  <label for="floatingInput">First Name</label>
                  {% render_field form.first_name type="text" class="form-control" id="floatingInput" placeholder="Enter Your First Name" %}
                </div> <!-- form-group end.// -->

                <div class="col form-group">
                  <label for="floatingInput">Last Name</label>
                  {% render_field form.last_name type="text" class="form-control" id="floatingInput" placeholder="Enter Your Last Name" %}
                </div> <!-- form-group end.// -->
                
              </div> <!-- form-row end.// -->
              

              <div class="form-row">
                <div class="col form-group">
                  <label for="floatingInput">Email address</label>
                  {% render_field form.email type="email" class="form-control" id="floatingInput" placeholder="name@example.com" %}
                </div> <!-- form-group end.// -->
  
  
                <div class="col form-group">
                  <label for="floatingInput">Username</label>
                  {% render_field form.username type="text" class="form-control" id="floatingInput" placeholder="Enter Username" %}
                </div> <!-- form-group end.// -->
    
              </div>
                <div class="form-col">
                  <div class="form-group">
                    <label for="floatingInput">Phone Number</label>
                    {% render_field form.phone_number type="text" class="form-control" id="floatingInput" placeholder="Enter Your Phone" %}
                  </div> <!-- form-group end.// -->
                </div>
                <div class="form-row">
                <div class="col form-group">
                  <label for="myInput">Password</label>
                  {% render_field form.password1 type="password" class="form-control" id="myInput" placeholder="Enter Your Password" %}
                </div> <!-- form-group end.// --> 

                <div class="col form-group">
                  <label for="myInput2">Password Again</label>
                  {% render_field form.password2 type="password" class="form-control" id="myInput2" placeholder="Confirm Your Password" %}
                </div> <!-- form-group end.// --> 

              </div>
              <div class="form-group"> 
		            <label class="custom-control custom-checkbox"> <input type="checkbox" class="custom-control-input"  onclick="myFunction()" > <div class="custom-control-label"> Show Password </div> </label>
		          </div> <!-- form-group end.// --> 
              <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block"> Register  </button>
              </div> <!-- form-group// --> 
            </form>
            </article><!-- card-body.// -->
        </div> <!-- card .// -->
        
        <p class="text-center mt-4">Have an account? <a href="{% url 'account_login' %}">Log In</a></p>
        <br><br>
    <!-- ============================ COMPONENT REGISTER  END.// ================================= -->
    
    
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock content %}

{% block scripts %}
<script>
  function myFunction() {
    var x = document.getElementById("myInput");
    var y = document.getElementById("myInput2");
    if (x.type === "password" && y.type === "password") {
      x.type = "text";
      y.type = "text";
    } else {
      x.type = "password";
      y.type = "password";
    }
  }
</script>
{% endblock scripts %}