{% extends "base.html" %}
{% load widget_tweaks %}
{% load i18n %}
{% load account %}

{% block content %}


<div class="container">
    <div class="row">
      <div class="col-md-10 col-lg-12 col-lg-5 mx-auto">
        <div class="card border-0 shadow rounded-3 my-5">
          <div class="card-body p-4 p-sm-5">
            <h5 class="card-title text-center mb-5 fw-light fs-5">
              {% trans "Verify Your E-mail Address" %}
            </h5>

            <p class="text-center" >{% blocktrans %}We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
            
            
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}