{% extends 'base.html' %}

{% block title %}{{title}}{% endblock title %}
{% block content %}
<main>
    {% include "includes/breadcrumb.html" %}
  
      <!--Acount Area Start -->
      <section class="account">
          <div class="container">
              <div class="row">
                {% include "includes/navbarv2.html" %}
                {% include "includes/dashboard_sidebar.html" %}
                <div class="col-lg-6 col-md-12">
                {% include 'includes/alerts.html' %}
                {% include 'error.html' %}
                    <div class="change-password">
                        <h6 class="text-center">Edit Profile</h6>
                        <form action="{% url 'accounts:profile' %}" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-row">
                              {% for profileform in profileforms %}
                              <div class="form-group col-md-6">
                                  {{profileform.label}}
                                  {{profileform}}
                              </div>
                              {% endfor %}
                            </div>
                            <input type="submit" value="save" class="btn btn-primary">
                          </form>
                    </div>
                </div> 
              </div>
          </div>
      </section>
      <!--Acount Area End -->
  
  </main>
{% endblock content %}